{% assign customer_country = localization.country.iso_code %}

{% if customer_country == "GB" %}
    {% assign free_shipping_value = settings.free_shipping_uk | times: 100 %}
    {% assign free_shipping_js = settings.free_shipping_uk | times: 1.0 %}
{% else %}
    {% assign free_shipping_value = settings.free_shipping_world | times: 100 %}
    {% assign free_shipping_js = settings.free_shipping_world | times: 1.0 %}
{% endif %}

{% assign cart_total = cart.total_price %}
{% assign remainder = free_shipping_value | minus: cart_total %}

{% if cart_total >= free_shipping_value %}
    {% assign progress = 100 %}
{% else %}
    {% assign progress = cart_total | times: 100.0 | divided_by: free_shipping_value %}
{% endif %}
<style>
    #cart-progress-bar .progress-container{
        width:100%;
        height:12px;
        background:#EBEBEB;
        border-radius:8px;
        position:relative;
        overflow:hidden;
    }
    #cart-progress-bar .progress-value{
        width:{{ progress }}%;
        max-width:100%;
        position:absolute;
        left:0;
        top:0;
        height:100%;
        border-radius:8px;
        background:#327736;
    }
    #cart-progress-bar .remainder{
        font-weight:bold;
    }
    #cart-progress-bar .progress-message{
        margin-bottom:10px;
        font-size:15px;
    }
</style>


<div id="cart-progress-bar">
    <div class="progress-message">
        {% if remainder > 0 %}
        Spend <span class="remainder">{{ remainder | money_without_trailing_zeros }}</span> more to reach free shipping!
        {% else %}
        You have earned <strong>FREE</strong> shipping!
        {% endif %}
    </div>
    <div class="progress-container">
        <div class="progress-value"></div>
    </div>
</div>
{% comment %} <script>
    document.addEventListener('cart:updated',(e)=>{
        const {cart} = event.detail;
        updateProgressBar(cart);
        updateMessage(cart);
    })
    const updateProgressBar = (cart) => {
        const {total_price} = cart;
        const total_price_float = total_price/{{free_shipping_js}};
        const progressVal = document.querySelector('#cart-progress-bar .progress-value');
        progressVal.style.width = `${total_price_float}%`;
    }
    const updateMessage = (cart) => {
        const {total_price} = cart;
        const total_price_float = total_price/{{free_shipping_js}};
        const remainder = 100 - total_price_float;
        const currency = "{{ cart.total_price | money }}"[0];
        const remainderTxt = document.querySelector('#cart-progress-bar .remainder');
        const money_format = `${currency}${remainder}`;
        remainderTxt.textContent = `${money_format}`;
    }
</script> {% endcomment %}