<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --transparent-foreground: {{ section.settings.transparent_color_text.rgb }};
    --color-drawer-text: {{ section.settings.color_drawer_text.rgb }};
    --color-drawer-background: {{ section.settings.color_drawer_background.rgb }};
    --color-drawer-button-gradient: {% if section.settings.color_drawer_button_gradient != blank %}{{ section.settings.color_drawer_button_gradient }}{% else %}{{ section.settings.color_drawer_button_background }}{% endif %};
    --color-drawer-button-background: {{ section.settings.color_drawer_button_background.rgb }};
    --color-drawer-button-text: {{ section.settings.color_drawer_button_text.rgb }};
    --color-drawer-overlay: {{ section.settings.color_drawer_overlay.rgb }};
  }

  #shopify-section-{{ section.id }} .button.icon-with-text {
    --color-button-gradient: {% if section.settings.transparent_color_button_gradient != blank %}{{ section.settings.transparent_color_button_gradient }}{% else %}{{ section.settings.transparent_color_button_background }}{% endif %};
    --color-button-background: {{ section.settings.transparent_color_button_background.rgb }};
    --color-button-border: {{ section.settings.transparent_color_button_text.rgb }};
    --color-button-text: {{ section.settings.transparent_color_button_text.rgb }};
  }
</style>

<header class="password-header section section--padding" is="password-header">
  <div class="page-width relative">
    <div class="flex justify-between">
      <div class="grid gap-4 grow">
        {%- render 'header-logo' -%}

        {%- if shop.password_message != blank -%}
          <div class="password-content">
            {{ shop.password_message }}
          </div>
        {%- endif -%}
      </div>
      
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "class": "password-header-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__logo_help.content"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__transparent.content",
      "info": "t:sections.header.settings.header__transparent.info"
    },
    {
      "type": "color",
      "id": "transparent_color_text",
      "label": "t:sections.header.settings.transparent_color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "transparent_color_button_text",
      "label": "t:sections.global.settings.color_button_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "transparent_color_button_background",
      "label": "t:sections.global.settings.color_button_background.label",
      "default": "#171717"
    },
    {
      "type": "color_background",
      "id": "transparent_color_button_gradient",
      "label": "t:settings_schema.colors.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.header__popup.content"
    },
    {
      "type": "color",
      "id": "color_drawer_text",
      "label": "t:settings_schema.colors.settings.color_drawer_text.label",
      "default": "#171717"
    },
    {
      "type": "color",
      "id": "color_drawer_background",
      "label": "t:settings_schema.colors.settings.color_drawer_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_drawer_button_text",
      "label": "t:settings_schema.colors.settings.color_drawer_button_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_drawer_button_background",
      "label": "t:settings_schema.colors.settings.color_drawer_button_background.label",
      "default": "#171717"
    },
    {
      "type": "color_background",
      "id": "color_drawer_button_gradient",
      "label": "t:settings_schema.colors.settings.color_drawer_button_gradient.label"
    },
    {
      "type": "color",
      "id": "color_drawer_overlay",
      "label": "t:settings_schema.colors.settings.color_drawer_overlay.label",
      "default": "#171717"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 36
    }
  ]
}
{% endschema %}
